<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"> --}}



    <link rel="stylesheet" href="./css/template.css">

    <title>Template</title>
</head>
<body>

<!-- BackGround Image part starts -->

<div class="big-image">
    <div class="overlay">
        <h1> kalavantin Durg</h1>
        <h5 class="difficulty">moderate</h5>
        <p>Panvel, Maharashtra, India</p>
    </div>
</div> 

  <!-- BackGround Image part Ends -->

  <!--  About and Map Section starts  -->

    <div class="content">
        <section class="about">
            <h5> about</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur fugit fugiat aperiam cumque, maiores quas? Reiciendis optio consectetur veritatis, cupiditate amet doloribus quod adipisci! Dolores ut velit deleniti eveniet. Iusto.</p>       
            
            <section class="stats">
                <div>
                <span class="stats-info">
                    <span class="length">Length</span>
                    <span class="gain">7.4 Km</span>
                </span>
                <span class="stats-info">
                    <span class="length">Elevation gain</span>
                    <span class="gain">518 m</span>
                </span>
                <span class="stats-info">
                    <span class="length">Route type</span>
                    <span class="gain">Out & back</span>
                </span>
            </div>
            </section>
            <section class="tags">
                <span class="tag">
                    <span class="active-tag">Hiking</span>
                </span>
                <span class="tag">
                    <span class="active-tag">Walking</span>
                </span>
                <span class="tag">
                    <span class="active-tag">Wildlife</span>
                </span>
                <span class="tag">
                    <span class="active-tag">Historic</span>
                </span>
                <span class="tag">
                    <span class="active-tag">Rocky</span>
                </span>

            </section>
            <section>
                <h5>Description</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto odit tempora ut omnis, eum quia iure recusandae! Optio earum exercitationem ullam quasi ratione molestiae laborum soluta? Quaerat optio asperiores animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque aut, nisi tenetur dicta exercitationem dolorum, pariatur iusto praesentium excepturi asperiores in quae totam tempore impedit, consectetur sequi! Voluptas, suscipit hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quae modi sapiente facilis, tempora nisi esse, nesciunt mollitia error, hic delectus sequi! Fuga a aspernatur voluptates libero molestias consequuntur quis? Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugiat dolor, enim quae, beatae eum ea incidunt expedita earum, ipsam voluptas vero? Ullam, quia eveniet excepturi recusandae ipsum cupiditate voluptas.</p>
            </section>
            <section>
                <h5>Things to carry</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates hic nostrum asperiores aperiam, voluptate odio, sequi sed modi totam voluptas excepturi labore recusandae laborum deserunt ab molestias saepe ut harum?</p>
            </section>
        </section>
        <section class="map">
            <h5>Map</h5>
            <div class="active-map">
                
            </div>
            <section class="row">
                <h5>Photos</h5>
                <img class="col-sm-6" src="https://images.unsplash.com/photo-1648514035374-4486b55f15b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                <img class="col-sm-6" src="https://images.unsplash.com/photo-1648514035374-4486b55f15b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                <img class="col-sm-6" src="https://images.unsplash.com/photo-1648514035374-4486b55f15b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                <img class="col-sm-6" src="https://images.unsplash.com/photo-1648514035374-4486b55f15b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                <img class="col-sm-6" src="https://images.unsplash.com/photo-1648514035374-4486b55f15b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
            </section>
        </section>
    </div>

    <!-- About and Map Section ends-->
 
</body>
</html>